In [5]:
import pandas as pd
import numpy as np
import re

In [107]:
loans_lenders=pd.read_csv("C:\\Users\\Alessio\\Desktop\\Universita\\Magistrale\\Primo anno\\Foundations of computer science\\Progetto\\additional-kiva-snapshot\\loans_lenders.csv")

         loan_id                                            lenders
1387427   678999  michael43411218, carol5987, gooddogg1, chris41...
1387428  1207353  rjhoward1986, jeffrey6870, trolltech4460, elys...
1387429  1206220  vicky7746, gooddogg1, fairspirit, craig9729960...
1387430  1206425  rich6705, sergiiy9766, angela7509, barbara5610...
1387431  1206486                              alan5175, amy38101311

In [ ]:
loans_lenders.head()
loans_lenders.tail()

In [122]:
import time

start = time.time()
liste=[]
for i in range (0,10000):
    liste.append(loans_lenders.loc[i,"lenders"].split(", "))
data = []
for i in range (0,10000):
    for j in range(len(liste[i])):
        data.append([loans_lenders.loc[i,"loan_id"], liste[i][j]])


df = pd.DataFrame(data, columns=["loan_id", "lenders"])

end = time.time()
print(end - start)

46.1949999332

   loan_id      lenders
0   483693       muc888
1   483693      sam4326
2   483693  camaran3922
3   483693  lachheb1865
4   483693  rebecca3499

In [136]:
import tqdm
import time
liste = []
data = []
for i in tqdm.tqdm(range(len(loans_lenders))):
    liste.append(loans_lenders.loc[i,"lenders"].split(", "))
    for j in range(len(liste[i])):
        data.append([loans_lenders.loc[i,"loan_id"], liste[i][j]])
        
df = pd.DataFrame(data, columns=["loan_id", "lenders"])

100%|██████████| 1387432/1387432 [1:37:32<00:00, 237.09it/s]

In [ ]:
df.head()